<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
    <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
      <container>
        <register type="Wonga.SendMessage.Contracts.SendMessage.ISendMessageOrchestrations, Wonga.SendMessage.Contracts, Version=1.0.0.0, Culture=neutral" mapTo="Wonga.SendMessage.Orchestrations.SendMessage.SendMessageOrchestrations, Wonga.SendMessage.Orchestrations, Version=1.0.0.0, Culture=neutral" />
        <register type="Wonga.SendMessage.Adapters.Contracts.ISendMessageAdapter, Wonga.SendMessage.Adapters.Contracts, Version=1.0.0.0, Culture=neutral" mapTo="Wonga.SendMessage.Adapters.SendMessage.SendMessageAdapter, Wonga.SendMessage.Adapters, Version=1.0.0.0, Culture=neutral" />
      </container>
    </unity>

</configuration>