<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="Wonga.ReceieveMessage.Contracts.ReceieveMessage.IReceieveMessageOrchestrations, Wonga.ReceiveMessage.Contracts, Version=1.0.0.0, Culture=neutral" mapTo="Wonga.ReceieveMessage.Orchestrations.ReceieveMessage.ReceieveMessageOrchestrations, Wonga.ReceiveMessage.Orchestrations, Version=1.0.0.0, Culture=neutral" />
      <register type="Wonga.ReceiveMessage.Adapters.Contracts.IReceieveMessageAdapter, Wonga.ReceiveMessage.Adapters.Contracts, Version=1.0.0.0, Culture=neutral" mapTo="Wonga.ReceieveMessage.Adapters.ReceieveMessage.ReceieveMessageAdapter, Wonga.ReceiveMessage.Adapters, Version=1.0.0.0, Culture=neutral" />
    </container>
  </unity>

</configuration>