################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Wonga.Send/Wonga.SendMessage.Contracts/bin/Debug
/Wonga.Send/Wonga.SendMessage.Adapters.Contracts/bin/Debug
/Wonga.Send/Wonga.SendMessage.Adapters.Contracts/obj/Debug
/Wonga.Send/Wonga.SendMessage.Orchestrations/bin/Debug
/Wonga.Send/Wonga.SendMessage.Orchestrations/obj/Debug
/Wonga.Send/Wonga.SendMessage.Orchestrations.Contracts/bin/Debug
/Wonga.Send/Wonga.SendMessage.Orchestrations.Contracts/obj/Debug
/Wonga.Send/Wonga.SendMessage.Adapters/bin/Debug
